<section class="features-section bg-light py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 home-h3">
                <h3>User Ratings to Discover the Best Recipes</h3>
                <p>Share your favorite recipes with the community and get inspired by others.</p>
            </div>
            <div class="col-md-4 home-h3">
                <h3>Engage with the Recipe Sharing Community</h3>
                <p>Connect with fellow food lovers, exchange tips, and join discussions.</p>
                <a href="/signup" class="btn btn-link">Sign Up</a>
            </div>
            <div class="col-md-4 home-h3">
                <h3>Discover New and Exciting Recipes</h3>
                <p>Browse through a wide range of recipes shared by our community.</p>
                <a href="/recipes" class="btn btn-link">Get Started</a>
            </div>
        </div>
    </div>
</section>

<style>
    .home-h3 {
        padding:10px;
    }
</style>
